 /* Reset */
*{
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

image{
  width: 100%;
  display: block;
}

span{
  color: inherit;
}

ul{
  list-style-type: none;
}
/* General */
.app-container{
  width: 100%;
  height: 100vh;
  min-height: 250px;
  font-family: 'Montserrat', sans-serif;
}

/* Upper Banner */
.upper-banner{
  background-color: rgba(9, 11, 17, 0.5);
  color: white;
  font-size: 20px;
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 250px);
}

/* Flex */
.flex-right-center{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
}

.flex-center{
  display: flex;
  padding-top: 20px;
  align-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

/* Button */
.btn-upgrade{
  padding: 10px 35px;
  border-radius: 20px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-upgrade:hover{
  transform: scale(1.2);
}
.center-btn-upgrade{
  text-align: right;
  padding-top: 35px;
  padding-right: 15px;
}

/* Main */
main{
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}

/* Left Nav */
.left-nav{
  background-color: black;
  color: white;
  width: 250px;
  font-weight: 700;
}
/* Left Nav Img */
.left-nav img{
  width: 30px;
  margin-left: 20px;
}

.logo-cont{
  width: 100%;
  position: relative;
  z-index: 3;
  
}
.logo img{
  width: 135px;
}

.logo-small img{
  display: none;
}

/* Left nav Menu */
.nav-menu{
  padding: 20px 0;
  width: 100%;
}
.nav-menu *{
  vertical-align: middle;
  padding-top: 5px;
}

.nav-menu span{
  font-size: 13px;
}

.nav-menu-small{
  display: none;
}

.nav-menu .active-obj{
  border-left: 2px solid #a7f72d;
  color: #dcdddc;
}

.nav-menu .hover-active-obj:hover .color-gray{
  color:white
}

/* Playlist */
.playlists{
  margin-left: 20px;
  flex-grow: 3;
  overflow-y: auto;
  width: 100%;
  position: relative;
  z-index: 1;
}
.playlists *{
  vertical-align: middle;
}
.playlists h3{
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.playlists span{
  color: #0c0c0c;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  background-color: #a3a3a3;
  padding: 0 12px;
  margin-right: 5px;
}

.playlists li{
  padding: 10px 0;
  color: #6f6f6f;
}

.playlists li:hover{
  color: white;
}

.playlists li:hover span{
  background-color: white;
}

/* Account */
.account{
  position: relative;
  z-index: 2;
  padding: 0 20px;
}

.account-small{
  display: none;
}
.account img{
  margin-left: 0;
   
}
.account *{
  vertical-align: middle;
}
.account hr{
  border-top: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6f6f6f;
}

.download{
  font-size: 12px;
  display: inline-block;
  color: #595959;
}
.download:hover{
  color: white;
}
.download img{
  width: 20px;
}


/* Main Content */
.main-content{
  background-color: #141922;
  width: calc(100% - 250px);
  overflow-y: auto;
  padding-top: 100px;
}

/* Footer */
footer{
  width: 100%;
  height: 100px;
  background-color: #282828;
  position: relative;
  z-index: 50;
}



@media screen and (max-width:600px) {
  /* Calc width */
  .main-content{
    width: calc(100% - 50px);
  }
  .left-nav{
    width: 50px;
  }
  .upper-banner{
    width: calc(100% - 50px);
  }
  /* Display None items */
  .logo{
    display: none;
  }
  .nav-menu{
    display: none;
  }
  .account{
    display: none;
  }
  .playlists{
    display: none;
  }
  .logo-small img{
    display: block;
    width: 30px;
    height: 30px;
  }
  .left-nav img{
    margin-left: 0;
  }
  .flex-center{
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5px;
    justify-content: center;  
  }
  .nav-menu-small{
    width: 100%;
    display: block;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .account-small{
    width: 100%;
    height: calc(100vh - 270px);
    display: block;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

}

/* COLOR */
.color-gray{
  color: #5d5d5d;
}