 /* RESET */
*{
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

image{
  width: 100%;
  display: block;
}

span{
  color: inherit;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}
/* GENERAL */
.app-container{
  width: 100%;
  height: 100vh;
  min-height: 250px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.main-container{
  padding: 20px;
}

.footer-container{
  padding: 10px;
}
/* Upper Banner */
.upper-banner{
  background-color: rgba(9, 11, 17, 0.5);
  color: white;
  font-size: 20px;
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 250px);
  z-index: 51;
}

/* Flex */
.flex-right-center{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
}

.flex-center{
  display: flex;
  padding-top: 20px;
  align-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.flex-container{
  display: flex;
}

.padding-left{
  padding-left: 20px;
}

.padding-top{
  padding-top: 10px;
}

.margin-left{
  margin-left: 20px;
}

/* Button */
.btn-upgrade{
  padding: 10px 35px;
  border-radius: 20px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-upgrade:hover{
  transform: scale(1.2);
}

/* MAIN */
main{
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}

/* LEFT NAV */

.left-nav{
  background-color: black;
  color: white;
  width: 250px;
  font-weight: 700;
}


/* NAV Img */

.img-small{
  width: 30px;
}

.logo{
  width: 135px;
}

.img-mini{
  width: 18px;
}

.img-mid{
  width: 50px;
}

/* Logo */
.logo-cont{
  width: 100%;
  position: relative;
  z-index: 3;
}

/* NAV Menu */
.nav-menu{
  padding: 20px 0;
  width: 100%;
}
.nav-menu *{
  vertical-align: middle;
  padding-top: 5px;
}

.nav-menu span{
  font-size: 13px;
}

/* NAV Menu Hover */
.active-obj{
  border-left: 2px solid #a7f72d;
  color: #dcdddc;
}

.active-obj img{
  filter: invert(0.2);
}

.hover-active-obj img{
  filter: invert(0.2);
}

.active-obj:hover img{
  filter: invert(0);
}

.active-obj:hover span{
  color: white;
}

.hover-active-obj:hover .color-gray{
  color:white;
}
.hover-active-obj:hover img{
  filter: invert(0);
}

/* Playlist */
.title-playlist{
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 15px;
}
.adding-icon{
  color: #0c0c0c;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  background-color: #a3a3a3;
  padding: 0 12px;
  margin-right: 5px;
}

/* Title and icon hover */
.new-playlist:hover .adding-icon{
  background-color: white;
}
.new-playlist:hover .color-gray{
  color: white;
}

/* Plalist Items */
.playlists{
  flex-grow: 3;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  min-height: 70px;
  padding-top: 7px;
}
.playlists *{
  vertical-align: middle;
}

.playlists li{
  padding: 10px 0;
  color: #6f6f6f;
}

/* Playlist Hover */
.playlists li:hover{
  color: white;
}

.playlists li:hover span{
  background-color: white;
}

/* Account */
.account{
  position: relative;
  z-index: 2;
}

.account *{
  vertical-align: middle;
}
.account hr{
  border-top: none;
  margin-top: 5px;
  margin-bottom: 10px;  
  margin-right: 20px;
  color: #6f6f6f;
}

/* Download */
.download{
  font-size: 12px;
  display: inline-block;
  color: #595959;
}

.download *{
  vertical-align: top;
}

.download img{
  filter: invert(0.4);
}

/* Download Hover */
.download:hover{
  color: white;
}

.download:hover img{
  filter: invert(0);
}
/* user */
.user{
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #808080;
  margin-bottom: 5px;
  margin-right: 5px;
}

/* Display None */
.logo-small{
  display: none;
}
.nav-menu-small{
  display: none;
}
.account-small{
  display: none;
}
/* END LEFT NAV */


/* MAIN CONTENT */
.main-content{
  background-color: #141922;
  width: calc(100% - 250px);
  overflow-y: auto;
  padding-top: 80px;
  color: white;
}

/* UL main */
.ul-main{
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.ul-main li{
  text-transform: uppercase;
  color: #696d71;
  font-size: 13px;
  font-weight: 700;
  padding: 20px 10px;
}

.ul-main li:hover a{
  color: white;
}

.custom-border {
  position: relative;
}

.custom-border:after {
  content: " ";
  position: absolute;
  border-bottom: 2px solid #a7f72d;
  top: 70%;
  right: 35%;
  width: 30%;
}

/* Main Content */
.main-container h2{
  padding-bottom: 20px;
}

/* Song Recently */
.song-recently{
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: none;
  
}

.song-recently .song{
  width: calc(100% / 6 - 5px);
  padding-right: 10px;
}

.song img{
  width: 100%;
  height: auto;
  display: block;
}

.song-container{
  position: relative;
}

.song h4{
  text-align: center;
  font-weight: 600;
  color: #696b70;
  font-size: 12px;
  padding-bottom: 15px;
}
.song h3{
  padding: 20px 0 10px;
  text-align: center;
  font-size: 16px;
}
/* Hoverlay song */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: black;
  overflow: hidden;
}

.play-song{
  position: absolute;
  top: 40%;
  left: 40%;
  opacity: 0;
}
.song:hover .overlay{
  opacity: 0.5;
}
.song:hover .play-song{
  opacity: 1;
}

/* Created by */
.create-by h2{
  padding-top: 30px;
  padding-bottom: 5px;
}

.create-by h4{
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  color: #696b70;
}

.create-by h2{
  padding-top: 30px;
  padding-bottom: 5px;
}

/* Popular Artists */
.popular-artists h2{
  padding-top: 30px;
  padding-bottom: 5px;
}

.popular-artists h4{
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  color: #696b70;
}

.popular-artists .song img{
  border-radius: 50%;
}

.popular-artists .overlay{
  border-radius: 50%;
}
/* FOOTER */
footer{
  width: 100%;
  height: 100px;
  background-color: #282828;
  position: relative;
  z-index: 50;
}

.player-brani{
  align-items: center;
  height: 100%;
  justify-content: space-between;
  align-content: flex-end;
}

.col{
  display: flex;
  height: 100%;
}

.brano-desc h5{
  margin-right: 50px;
  color: white;
}
.brano-desc span{
  color: white;
  opacity: 0.5;
  font-size: 12px;
}
.brano-desc span:hover{
  opacity: 1;
  text-decoration: underline;
}

.brano-desc i{
  padding: 5px;
  opacity: 0.5;
  color: white;
}
.brano-desc i:hover{
  padding: 5px;
  opacity: 1;
}

.song-info{
  align-items: center;
}

.song-bar{
  padding: 20px 0 10px;
  text-align: center;
  color: white;
}
.song-bar *{
  vertical-align: middle;
  padding-left: 10px;
  
}
.bar{
  height: 5px;
  width: 70%;
  background-color: #a7f72d;
  display: inline-block;
}

.col-align{
  flex-grow: 4;
  align-items: center;
  justify-content: center;
} 

/*----------------------------------------------------------------------------------------------------------------- 
                                                  MEDIA 
-------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1100px){
  .ul-main{
    width: 74%;
  }
  .song-recently .song{
    width: calc(100% / 4 - 5px);
  }
}

@media screen and (max-width:700px){
  .ul-main{
    width: 95%;
  }
  .song-recently .song{
    width: calc(100% / 2 - 5px);
  }
}
@media screen and (max-width:600px) {

  /* Calc width */
  .main-content{
    width: calc(100% - 50px);
  }
  .left-nav{
    width: 50px;
  }
  .upper-banner{
    width: calc(100% - 50px);
  }

  /* Display None items */
  .logo{
    display: none;
  }
  .nav-menu{
    display: none;
  }
  .account{
    display: none;
  }
  .title-playlist{
    display: none;
  }
  .playlists{
    display: none;
  }
  .new-playlist{
    display: none;
  }
  /* Left Nav Small */
  .flex-center{
    padding-top: 5px;
    justify-content: end;
    align-items: center;
  }
  .logo-small{
    display: block;
  }
  .nav-menu-small{
    display: block;
    padding: 10px 10px;
    flex-grow: 3;
  }
  .download{
    padding-left: 5px;
    padding-bottom: 10px;
  }
  .account-small{
    display: block;
  }
  .ul-main{
    width: 100%;
  }

}

/* COLOR */
.color-gray{
  color: #5d5d5d;
}