 /* Reset */
*{
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

/* General */
.app-container{
  width: 100%;
  height: 100vh;
  min-height: 250px;
  font-family: 'Montserrat', sans-serif;
}

/* Upper Banner */
.upper-banner{
  background-color: rgba(9, 11, 17, 0.5);
  color: white;
  font-size: 20px;
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 200px);
}

/* Button */
.btn-upgrade{
  padding: 10px 35px;
  border-radius: 20px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-upgrade:hover{
  background-color: red;
}
.center-btn-upgrade{
  text-align: right;
  padding-top: 35px;
  padding-right: 15px;
}

/* Main */
main{
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}

/* Left Nav */
.left-nav{
  background-color: black;
  color: white;
  width: 200px;
  overflow-y: hidden;
}

/* Main Content */
.main-content{
  background-color: #141922;
  width: calc(100% - 200px);
  overflow-y: auto;
  padding-top: 100px;
}

/* Footer */
footer{
  width: 100%;
  height: 100px;
  background-color: #282828;
}

@media screen and (max-width:600px) {
  /* Calc width */
  .main-content{
    width: calc(100% - 50px);
  }

  .left-nav{
    width: 50px;
  }

  .upper-banner{
    width: calc(100% - 50px);
  }
}